[user]
	name = Edward Nolan
	email = eddiejnolan@gmail.com
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cv = commit -v
    cav = commit -av
    com = checkout master
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
