[submodule "bash-powerline"]
	path = bash-powerline
	url = https://github.com/riobard/bash-powerline.git
[submodule "bash-util-lib"]
	path = bash-util-lib
	url = https://github.com/ednolan/bash-util-lib.git
[submodule "bash-preexec"]
	path = bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
